%li.span12
  = link_to user_account_path(user),
  class: 'thumbnail right-caption span12',
  title: "View user's details", data: {toggle: 'tooltip',  placement: 'left'} do
    = image_tag user.image.url(:spanhalf)
    .caption
      .user_name= user.user_name
      .subtext= subtext
