.idea/
.vagrant/
.git

log/*

# don't build these file into our image
# they'll available for running tests when we run the docker container with
# a mount overlay
spec/
.devcontainer
.github
.vscode

*.bak
rspec_results.html