# Ignore the SQLite databases.
/db/*.sqlite3
/db/*.sqlite3-journal

# ignore media folder
/media/*

# ignore custom rake import task
/lib/tasks/import.rake
/lib/tasks/sample_data.rake

# ignore deploy files
/config/deploy.rb
/config/deploy/production.rb
/config/deploy/staging.rb

# ignore settings files (except default.yml)
/config/settings/development.yml
/config/settings/test.yml
/config/settings/staging.yml
/config/settings/production.yml
/config/newrelic.yml

# files created by tests and extra temp files
/public/system/*

# log files
/log/*.log
external_modules.log

# ignore temporary files
/tmp

# ignore ide settings
/.idea

# ignore test coverage files
/coverage/

# ignore vendor binary files
/vendor/bin/*
/vendor

# ignore generated api documentation
/doc
/.yardoc/