# Ignore the SQLite databases.
/db/*.sqlite3
/db/*.sqlite3-journal

# ignore media folder
/media/*

# ignore custom rake import task
/lib/tasks/import.rake
/lib/tasks/sample_data.rake

# ignore deploy files
/config/deploy.rb
/config/deploy/production.rb
/config/deploy/staging.rb

# ignore settings files (except default.yml)
/config/settings/development.yml
/config/settings/test.yml
/config/settings/staging.yml
/config/settings/production.yml

# files created by tests and extra temp files
/public/system/*

# log files
/log/*.log
external_modules.log

# ignore temporary files
/tmp
!/tmp/README.md
/.bundle

# ignore ide settings
/.idea

# ignore test coverage files
/coverage/

# ignore generated api documentation
/doc
/.yardoc/

# ignore private static pages
/app/views/public/_*

/.vagrant

# mac development
.DS_Store

# vendor is like node_modules for bundler in deployment mode
# we do not use vendor anymore with docker
vendor/bundle/*

# we don't need to commit test_prof reports
/test_prof
