language: ruby
rvm:
  - 2.2.2
branches:
  only:
  - master
  - develop
gemfile:
  - Gemfile
bundler_args: --without development production staging
before_install:

  # get ffmpeg and ffprobe
  - mkdir /tmp/ffmpeg
  - wget https://github.com/QutBioacoustics/baw-audio-tools/releases/download/v0.1.0/ffmpeg-git-20140817-64bit-static.tar.gz -O /tmp/ffmpeg/download-ffmpeg.tar.gz
  - tar -xvf /tmp/ffmpeg/download-ffmpeg.tar.gz
  - ls -la /tmp/ffmpeg
  - export PATH=$PATH:/tmp/ffmpeg/
  - echo $PATH
  
  # install apt-get packages
  - sudo apt-get update -qq
  - sudo apt-get -y install imagemagick wavpack libsox-fmt-all sox shntool mp3splt libav-tools --fix-missing

  # check versions
  - ffmpeg -version
  - mp3splt -version
  - sox --version
before_script:
  - yes | cp config/settings/test.travis.yml config/settings/test.yml
  - psql -c 'create database myapp_test;' -U postgres
script:
  - bundle exec rake db:migrate
  - bundle exec rake
env:
  global:
    # Code climate token encrypted with travis gem (travis encrypt CODECLIMATE_REPO_TOKEN=...)
    - secure: JUFFho398MH3PBrEkE4lsuiBJG3J2WN3rscaxy49AnU60IM+45qkvxR6+eTkTtrc5mHhxBepPpNJNLuhiW5T32ckftxT7Ct0n/6FGykRIFixqXAWv91XfxkPrbfg2O/ll43RYqnbFW4LC/zNnp3us6LMKoL+7oxfFLowA9/1uoE=
    - RAILS_ENV=test
