language: ruby
sudo: false
rvm:
  - 2.2.3
branches:
  only:
    - master
addons:
  apt:
    packages:
    - imagemagick
    - wavpack
    - libsox-fmt-all
    - sox
    - shntool
    - mp3splt
    - libav-tools
before_install:

  # download, extract, and add ffmpeg and ffprobe to path
  - mkdir /tmp/ffmpeg
  - wget http://johnvansickle.com/ffmpeg/releases/ffmpeg-release-64bit-static.tar.xz -O /tmp/ffmpeg/download-ffmpeg.tar.gz
  - tar -xf /tmp/ffmpeg/download-ffmpeg.tar.gz -C /tmp/ffmpeg/
  - export PATH=/tmp/ffmpeg:$PATH

  # check versions
  - which ffmpeg
  - ffmpeg -version
  - mp3splt -version
  - sox --version
script:
  - bundle exec rspec
env:
  global:
    secure: "Kq1sbJ7fwl27/QICiZtzdPe9mmPbnQfgyOujm+stPTmnpHtYU1gfwJtyrw+bBi9INdxiZHTzPjRdLM36zWEysSi8HRySVkVCzG3fgG/AWvmTlqzBigLjlHV0Xhb9YRSb1FgbC2UNcp2YF4FcAdlFkrgRKWNxNGLAy4gyH3E9a3A="

