%h1 New Script

= simple_form_for @script, html: {class: 'form-horizontal', multipart: true, method: :post } do |f|
  = render partial: 'form', locals: {f: f}

- content_for :left_sidebar do
  = render layout: '/shared/left_sidebar', locals: {title: 'Projects'} do
    %li= link_to 'Scripts', scripts_path,  title: "Back to scripts overview", data: {toggle: 'tooltip',  placement: 'right'}
