- content_for :title, 'New Script'

= render partial: 'shared/sidebar_script'

- content_for :right_sidebar do
  = render partial: 'shared/sidebar_metadata_heading', locals: {title: 'Script', icon_class: 'file-text-o'}

= simple_form_for @script, html: {class: 'form-horizontal', multipart: true, method: :post } do |f|
  = render partial: 'form', locals: {f: f, script: @script}