%table.table.table-striped(data-provides='rowlink')
  %thead
    %tr
      %th Name
      %th Annotation Name

  %tbody
  - jobs.each do |jobs|
    %tr
      %td= link_to jobs.name, project_job_path(@project, jobs)
      %td= jobs.annotation_name