%h1 New tag

= render 'form'

- content_for :left_sidebar do
  = render layout: '/shared/left_sidebar', locals: {title: 'Tag Management'} do
    %li= link_to 'Tag List', tags_management_index_path,  title: "Back to tag list", data: {toggle: 'tooltip',  placement: 'right'}