%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: Settings.organisation_names.parent_site_link, style: 'font-size:14px;'}= Settings.organisation_names.parent_site_name
      %a.navbar-brand{href: root_path, class: ('active' if current_page?(root_path))}= Settings.organisation_names.site_long_name
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{:class => ('active' if current_page?(projects_path))}
          %a{:href => projects_path} Projects
        %li{:class => ('active' if request.original_fullpath == "/listen")}
          %a{:href => "/listen"} Listen
        %li{:class => ('active' if request.original_fullpath == "/library")}
          %a{:href => "/library"} Library
        %li{:class => ('active' if current_page?(contact_us_path))}
          %a{:href => contact_us_path} Contact Us
      %ul.nav.navbar-nav.navbar-right
        - if current_user.blank?
          %li
            %a{:href => new_user_registration_path} Sign up
          %li
            %a{:href => new_user_session_path} Login
        - else
          - if Access::Check.is_admin?(current_user)
            %li{:class => (current_page?(my_account_path)) ? 'dropdown active' : 'dropdown'}
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = current_user.user_name
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => my_account_path} Profile
                %li.divider
                %li.dropdown-header Administration
                %li
                  %a{:href => user_accounts_path} User List
                %li
                  %a{:href => sites_orphans_path} Orphan Sites
                %li
                  %a{:href => scripts_path} Scripts
          - else
            %li{:class => ('active' if current_page?(my_account_path))}
              %a{:href => my_account_path}= current_user.user_name
          %li
            %a{:href => destroy_user_session_path} Logout