-# locals: href, tooltip, icon, title, placement
- href =  href || ''
- tooltip =  tooltip || ''
- icon  ||= ''
- title = title || ''
- confirm ||= nil
- method ||= :post
%li{class: ''}
  = button_to href, method: method, title: tooltip,
    class: 'btn btn-block btn-default', data: {toggle: 'tooltip', confirm: confirm } do
    - insert_icon(icon)
    %span<
      = title
