-# locals: indentation, href, tooltip, icon, title
- indentation = indentation || 0
- href =  href || ''
- tooltip =  tooltip || ''
- icon =  icon && ('fa-' + icon) ||''
- title = title || ''

%li{class: ['indentation-' + (indentation).to_s, ('active' if current_page?(href))]}
  = link_to href, title: tooltip, data: {toggle: 'tooltip'} do
    %i.fa.fa-fw{ class:  icon }
    %span<
      = title