-# locals: user_show, user_current
-# content_for(:left_sidebar_header, 'General')
-#- content_for(:left_sidebar) do
-#  = render partial: 'shared/sidebar_base', locals: {user_current: user_current, menu_definition: menu_definition }
