- menu_definition.each do |item|
  - if item.nil?
    %hr
  - else
    = render partial: 'shared/nav_item', locals: item

-# Old style escape (just in case I missed anything)
- if content_for?(:left_sidebar)
  %hr
  = content_for(:left_sidebar)
