-# locals: title, user, subtext
- if !title.blank? && !user.blank? && !subtext.blank?
  %h4= title
  .media
    .media-left.media-middle
      %a{href: user_account_path(user)}
        = image_tag user.image.url(:spanhalf), alt: user.user_name, class: 'media-object'
    .media-body
      = link_to user.user_name, user_account_path(user)
      %br/
      = subtext
