- content_for :title, 'New Tag'

= render partial: 'shared/admin/sidebar_tags'

- content_for :right_sidebar do
  = render partial: 'shared/sidebar_metadata_heading', locals: {title: 'Tags', icon: 'tags'}

= render 'form'