%li.span6
  .thumbnail.right-caption.span12.project_thumbnail
    .span4= image_tag project.image.url(:span2)
    .caption.span7
      %h4= link_to project.name, project
      %p= truncate(project.description, length: 50, separator: ' ')
    - if Access::Check.can?(current_user, :writer, project)
      %i.project_permission_icon.fa.fa-unlock(title="You have read & write access" data-toggle='tooltip' data-placement='top')
    - elsif Access::Check.can?(current_user, :reader, project)
      %i.project_permission_icon.fa.fa-lock(title="You have read only access" data-toggle='tooltip' data-placement='top')
    %ul.nav.nav-pills.nav-stacked.pull-right{style: 'margin-bottom:0'}
      %li
        %a{href: "/visualize?projectId=#{project.id}"}
          %i.fa.fa-eye
          Visualise
