%li.span6
  = link_to project , class: 'thumbnail right-caption span12 project_thumbnail' do
    .span4= image_tag project.image.url(:span2)
    .caption.span7
      %h4= project.name
      %p= truncate(project.description, length: 50, separator: ' ')
    - if current_user.can_write?(project)
      %i.fa.fa-unlock(title="You have read & write access" data-toggle='tooltip' data-placement='top')
    - elsif current_user.can_read?(project)
      %i.fa.fa-lock(title="You have read only access" data-toggle='tooltip' data-placement='top')
