- content_for :meta_title, "Project #{@project.name} | Edit"
- content_for :page_title, 'Edit Project'
- @info_bar = {model: @project,  icon: 'globe'}
- menu_edit_link(:project, edit_project_path)

%p
  Original name is
  = "'#{@project.name}'."
= render partial: 'form', locals: {project: @project}