- content_for :title, t('baw.shared.links.projects.title')

= render partial: 'shared/sidebar_project'

- @projects.each_slice(2) do |projects|
  .row
    - projects.each do |project|
      .col-sm-6.col-xs-12
        .thumbnail.clearfix
          %a.pull-left{href: project_path(project), style:'margin-right:10px;'}
            %img{src: project.image.url(:span2), alt: project.name}/
          .caption
            %h4{style: 'margin-top:0'}
              %a{href: project_path(project)}= project.name
            %p= truncate(project.description, length: 50)

            - if Access::Check.can?(current_user, :owner, project)
              %span.fa.fa-unlock{title: 'You are an owner', data: {toggle:'tooltip',  placement: 'top'}, aria: {hidden: 'true' }, style: 'position:absolute; top:10px; right:20px;'}
            - elsif Access::Check.can?(current_user, :writer, project)
              %span.fa.fa-unlock{title: 'You have read & write access', data: {toggle:'tooltip',  placement: 'top'}, aria: {hidden: 'true' }, style: 'position:absolute; top:10px; right:20px;'}
            - elsif Access::Check.can?(current_user, :reader, project)
              %span.fa.fa-lock{title: 'You have read only access', data: {toggle:'tooltip',  placement: 'top'}, aria: {hidden: 'true' }, style: 'position:absolute; top:10px; right:20px;'}

            .btn-group{role: 'group', aria: {label: 'actions'}, style: 'position:absolute; bottom:25px; right:20px;'}
              %a.btn.btn-default{role: 'button', href: project_path(project)}
                %span.fa.fa-info-circle{aria: {hidden: 'true' }}
                Details
              %a.btn.btn-default{role: 'button', href: make_visualise_path(project)}
                %span.fa.fa-eye{aria: {hidden: 'true' }}
                Visualise

- if @projects.empty?
  %p
    You do not have access to any projects. Try
    = link_to 'requesting access', new_access_request_projects_path
    to a project.




