- content_for :title, 'New Project'
- @info_bar = {title: t('baw.shared.links.projects.title'),  icon: 'home'}
- menu_new_link(:projects, new_project_path, 'project')

= render partial: 'form', locals: {project: @project}