- content_for :title, 'Scripts'

= render partial: 'shared/admin/sidebar_script'

- content_for :right_sidebar do
  = render partial: 'shared/sidebar_metadata_heading', locals: {title: 'Script', icon: 'file-text-o'}

= render partial: 'admin/scripts/scripts_table', locals: {scripts: @scripts}