.span6
  - if @details.blank?
    %h1 Sorry, something is not right
    %p There's been an issue.
    %p You could go back and try again.
  - else
    %h1= @details.phrase
    %p= @details.message
    - @details.links.each do |key, value|
      %p
        %a{href: value}= key

.span6
  = image_tag 'bird_watcher.jpg'