.span6
  %h1
    Sorry,
    %br
    page not found
  %p
    The page you were looking for doesn't exist. You may have mistyped the address or the page may have moved.
.span6
  = image_tag 'bird_watcher.jpg'