# Using SettingsLogic, see https://github.com/binarylogic/settingslogic
# settings loaded in model/settings.rb
# Accessible through Settings.key
# Environment specific settings expected in config/settings/{environment_name}.yml
defaults: &defaults
  host:
    name: localhost
    port: 3030
  resque:
    connection:
      host: localhost
      port: 6379
      password: password
    namespace: 'resque:BAW:default'
    queues:
      media: media_default
  media_request_processor: local # options are local or resque
  smtp:
    # see http://guides.rubyonrails.org/action_mailer_basics.html#action-mailer-configuration
    ######################################################
    # these values are read for config.action_mailer.smtp_settings in
    # File environments/{environment_name}.rb
    ######################################################
    address: smtp.address
    port: smtp.port
    domain: domain.com
    user_name: username
    authentication: login
    password: password
  db:
    ######################################################
    # these values are read by config/database.yml
    ######################################################
    adapter: sqlite3
    encoding: utf8
    reconnect: false
    database: db/default.sqlite3
    pool: 5
    username: root
    password:
    host: localhost
  emails:
    email_prefix: '[prefix]'
    sender_address: address@example.com
    required_recipients:
     - address@example.com
  devise:
    ######################################################
    # these values are read for config.{key} in
    # File devise.rb #
    ######################################################
    pepper: 128 char random pepper 128 char random pepper
    expire_auth_token_on_timeout: true
    secret_key: 128 char random pepper 128 char random pepper
  ######################################################
  # File secret_token.rb #
  ######################################################
  secret_token: some long secret token - at least 30 chars, all random
  paths:
    image_magick_dir: <%= Rails.root %>/tmp/_image-magick
    ######################################################
    # these paths must align with the paths used by the harvester defined in
    # File lib/external/harvester/default.yml
    ######################################################
    original_audios:
      - <%= Rails.root %>/tmp/_original_audio
    cached_spectrograms:
      - <%= Rails.root %>/tmp/_cached_spectrogram
    cached_audios:
      - <%= Rails.root %>/tmp/_cached_audio
    analysis_scripts:
      - <%= Rails.root %>/tmp/_analysis_script
    analysis_results:
      - <%= Rails.root %>/tmp/_analysis_result
    analysis_runs:
      - <%= Rails.root %>/tmp/_analysis_run
    cached_datasets:
      - <%= Rails.root %>/tmp/_cached_dataset
    harvester_base: <%= Rails.root %>/tmp/_harvester_to_do
    modules_log_file: <%= Rails.root %>/tmp/_modules_log.log
    temp_files: <%= Rails.root %>/tmp
  harvester_config_file: harvest.yml
  harvester:
    email: address+harvester@example.com
    password: password
  admin_user:
    email: address+admin@example.com
    password: password
  cached_audio_defaults:
    extension: mp3
    channel: 0
    sample_rate: 22050
    max_duration_seconds: 300.0
    min_duration_seconds: 0.5
  cached_spectrogram_defaults:
    extension: png
    channel: 0
    sample_rate: 22050
    window: 512
    window_function: Hamming
    colour: 'g'
    ppms: 0.045
    max_duration_seconds: 120.0
    min_duration_seconds: 0.5
  cached_dataset_defaults:
    storage_format: txt
    one_item_per_line: true
  available_formats:
    text:
      - json
    audio:
      - mp3
      - webm
      - ogg
      - flac
      - wav
    image:
      - png
  audio_tools:
    ffmpeg_executable: ffmpeg
    ffprobe_executable: ffprobe
    mp3splt_executable: mp3splt
    sox_executable: sox
    wavpack_executable: wvunpack
    imagemagick_convert_executable: convert
    imagemagick_identify_executable: identify
    max_duration_seconds: 300
  audio_tools_timeout_sec: 20
  # max overlap (default 5): maximum amount an audio recording can be trimmed at the end
  audio_recording_max_overlap_sec: 5
  # min duration (default 10): must be larger than audio_recording_max_overlap_sec
  audio_recording_min_duration_sec: 10
  organisation_names:
    site_long_name: Audio Workbench
    site_short_name: AWB
    organisation_name: Audio Group
    github_issues_url: 'url to github issues page'
    parent_site_name: Parent Site
    parent_site_link: '/'
  analytics:
    domain: example.com
    ua: UA-XXXXXX
  recaptcha:
    public_key: set recaptcha public key
    private_key: set recaptcha private key
    # only set proxy if needed
    proxy:

development:
  <<: *defaults
  # add overwrites in config/settings/{environment_name}.yml
test:
  <<: *defaults
  # add overwrites in config/settings/{environment_name}.yml
staging:
  <<: *defaults
  # add overwrites in config/settings/{environment_name}.yml
production:
  <<: *defaults
  # add overwrites in config/settings/{environment_name}.yml
