# Using SettingsLogic, see https://github.com/binarylogic/settingslogic
# settings loaded in model/settings.rb
# Accessible through Settings.key
# Environment specific settings expected in config/settings/{environment_name}.yml
defaults: &defaults
  host:
    name: localhost
    port: 3000
    cors_origins:
     - !ruby/regexp '/\A(https?:\/\/)?localhost(:\d+)?\z/'
     - !ruby/regexp '/\A(https?:\/\/)?127\.0\.0\.1(:\d+)?\z/'
     - !ruby/regexp '/\A(https?:\/\/)?192\.168\.0\.\d{1,3}(:\d+)?\z/'
  resque:
    connection:
      host: localhost
      port: 6379
      password: password
      db: 0
    namespace: resque
    log_level: 'Logger::INFO'
  actions:
    analysis:
      queue: analysis_default
    harvest:
      # name of queue to append jobs onto
      queue: harvest_default
      dry_run: false
      to_do_path: ./tmp/_harvester_to_do_path
      config_file_name: harvest.yml
      progressive_upload_directory: ./tmp/_progressive-upload/
    media:
      # name of queue to append jobs onto
      queue: media_default
      dry_run: false
  media_request_processor: local # options are local or resque
  db:
    ######################################################
    # these values are read by config/database.yml
    ######################################################
    adapter: sqlite3
    encoding: utf8
    reconnect: false
    database: db/default.sqlite3
    pool: 5
    username: root
    password:
    host: localhost
  devise:
    ######################################################
    # these values are read for config.{key} in
    # File devise.rb #
    # We never want these values to make it production.
    # Documented for completion here but must be overridden!
    ######################################################
    ##pepper: 128 char random pepper 128 char random pepper
    ##secret_key: 128 char random pepper 128 char random pepper
  ######################################################
  # File secret_token.rb #
  # We never want these values to make it production.
  # Documented for completion here but must be overridden!
  ######################################################
  ##secret_token: some long secret token - at least 30 chars, all random
  ##secret_key_base: some long secret token - at least 30 chars, all random
  paths:
    image_magick_dir: <%= Rails.root %>/tmp/_image-magick
    original_audios:
      - <%= Rails.root %>/tmp/_original_audio
    cached_spectrograms:
      - <%= Rails.root %>/tmp/_cached_spectrogram
    cached_audios:
      - <%= Rails.root %>/tmp/_cached_audio
    analysis_scripts:
      - <%= Rails.root %>/tmp/_analysis_script
    cached_datasets:
      - <%= Rails.root %>/tmp/_cached_dataset
    cached_analysis_jobs:
      - <%= Rails.root %>/tmp/_cached_analysis_jobs
    worker_log_file: <%= Rails.root %>/log/worker.<%= Rails.env %>.log
    mailer_log_file: <%= Rails.root %>/log/mailer.<%= Rails.env %>.log
    audio_tools_log_file: <%= Rails.root %>/log/audio_tools.<%= Rails.env %>.log
    temp_dir: <%= Rails.root %>/tmp
  harvester:
    email: address+harvester@example.com
    password: password
  admin_user:
    email: address+admin@example.com
    password: password
  mailer:
    # smtp gets set directly to config.action_mailer.smtp_settings in File environments/{environment_name}.rb
    # See http://api.rubyonrails.org/classes/ActionMailer/Base.html#class-ActionMailer::Base-label-Configuration+options
    # see http://guides.rubyonrails.org/action_mailer_basics.html#action-mailer-configuration
    smtp:
      address: localhost
      port: 25
      #domain: domain.com
      #user_name: username
      #authentication: login
      #password: password
    emails:
      email_prefix: '[prefix]'
      sender_address: address@example.com
      required_recipients:
       - address@example.com
    log_level: 'Logger::INFO'
  cached_audio_defaults:
    extension: mp3
    channel: 0
    sample_rate: 22050
    max_duration_seconds: 300.0
    min_duration_seconds: 0.5
  cached_spectrogram_defaults:
    extension: png
    channel: 0
    sample_rate: 22050
    window: 512
    window_function: Hamming
    colour: 'g'
    max_duration_seconds: 180.0
    min_duration_seconds: 0.5
  available_formats:
    text:
      - json
    audio:
      - mp3
      - webm
      - ogg
      - flac
      - wav
    image:
      - png
  audio_tools:
    ffmpeg_executable: ffmpeg
    ffprobe_executable: ffprobe
    mp3splt_executable: mp3splt
    sox_executable: sox
    wavpack_executable: wvunpack
    shntool_executable: shntool
    wav2png_executable: wav2png
    imagemagick_convert_executable: convert
    imagemagick_identify_executable: identify
    max_duration_seconds: 300.0
    log_level: 'Logger::INFO'
  audio_tools_timeout_sec: 60.0
  # max overlap (default 5): maximum amount an audio recording can be trimmed at the end
  audio_recording_max_overlap_sec: 5.0
  # min duration (default 10): must be larger than audio_recording_max_overlap_sec
  audio_recording_min_duration_sec: 10.0
  organisation_names:
    site_long_name: Audio Workbench
    organisation_name: Audio Group
    github_issues_url: 'url to github issues page'
    parent_site_name: Parent Site
    parent_site_link: 'http://example.com'
    custom_menu:
      header_title: Custom Menu
      items:
        - title: Item 1
          url: '/item1'
        - title: Item 2
          url: '/item2'
  analytics:
    domain: example.com
    ua: 'UA-XXXXXX'
  recaptcha:
    public_key: set recaptcha public key
    private_key: set recaptcha private key
    # only set proxy if needed
    proxy:
  google_maps:
    api_key: your google maps api key

development:
  <<: *defaults
  # add overwrites in config/settings/{environment_name}.yml
test:
  <<: *defaults
  # add overwrites in config/settings/{environment_name}.yml
staging:
  <<: *defaults
  # add overwrites in config/settings/{environment_name}.yml
production:
  <<: *defaults
  # add overwrites in config/settings/{environment_name}.yml
