
@import "font-awesome-sprockets";
@import "font-awesome";

$grid-float-breakpoint: 992px;

nav > .nav-stacked > li > a {
  padding: 5px 10px;
}

@import "bootstrap-sprockets";
@import "bootstrap";

@import "bootstrap-datetimepicker.min.css";
@import "gmaps4rails.css";
@import "custom";
@import "twitter_typeahead";
