// Place all the styles related to the Sites controller here.
// They will automatically be included in application.scss.
// You can use Less here: http://lesscss.org/

.map-placeholder {
  border:1px solid black;
  width:100%;
  height:400px;
  display:block;
  line-height: 400px;
  text-align: center;
}

.map-placeholder-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}