%li.span12
  .thumbnail.right-caption.span12
    %a{href: project_site_path(@project, site)}
      = image_tag site.image.url(:span1), alt: site.name
    .caption
      %h3= link_to truncate(site.name, length: 20, separator: ' '), project_site_path(@project, site)
    %ul.nav.nav-pills.pull-right{style: 'margin-bottom:0'}
      %li
        %a{href: project_site_path(@project, site)}
          %i.fa.fa-info-circle
          Details
      - play_details = site.get_bookmark_or_recording
      - unless play_details.nil?
        %li
          %a{href: make_listen_path(play_details[:audio_recording], play_details[:start_offset_seconds])}
            %i.fa.fa-play-circle
            Play
      - else
        %li
          %a{href: '#', title: 'No audio recordings in this site', data: {toggle: 'tooltip',  placement: 'top'}}
            No audio
      %li
        %a{href: make_visualise_path(site)}
          %i.fa.fa-eye
          Visualise


