- content_for :meta_title, "Project #{@project.name} | New Site"
- content_for :page_title, @project.name
- @info_bar = {title: t('baw.shared.links.project.title'),  icon: 'home'}
- menu_new_link(:project, new_project_site_path(@project), 'site')

%h2
  New Site

= render partial:'form', locals: {project: @project, site: @site}