- content_for :title, "New Site for Project #{@project.name}"

= render partial: 'shared/sidebar_project', locals: {project: @project}

= render partial:'form', locals: {project: @project, site: @site}