- content_for :meta_title, "Project #{@project.name} | Site #{@site.name} | Audio Harvest Instructions"
- content_for :page_title, 'Audio Harvest Instructions'
- @info_bar = { title: 'Site', icon: 'map-marker'}

%h2
  Deprecated! You're on an old website.
