%h1 Audio Recording Catalogue

- content_for :title, 'Audio Recording Catalogue'

%p Select a Project and optionally a Site to display, then click 'Display'.
%p Years not shown contain no recordings for the selections.

%form{clas:'form-horizontal', role:'form'}
  .row-fluid
    .span5
      .control-group
        %label Projects
        .controls
          %select{id:'project_list', class:'span12'}
    .span5
      .control-group
        %label Sites
        .controls
          %select{id:'site_list', class:'span12'}
    .span2
      .control-group
        %label= '&nbsp;'.html_safe
        .controls
        %button{id:'update_calendar', class: 'btn', type:'button'} Display

#audioRecordingCalendar

%script{src:'//cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js'}
%script
  baw.begin();