- content_for :title, 'Credits'

= render partial: 'shared/sidebar_public'

%h1 Credits

%p
  The development of this web application was an initiative of the
  %a{href: 'https://www.qut.edu.au/'} Queensland University of Technology's
  %a{href: 'http://www.ecosounds.org/'} Ecoacoustics Research Group.
  This website makes use of a range of other technologies and libraries.

%p
  More information can be found on the
  %a{href: 'https://github.com/QutBioacoustics/baw-server'} Github project page.

%h2
  Programs and libraries

%ul
  %li
    %a{href: 'http://rubyonrails.org/'} Ruby on Rails
    (with a number of additional gems)
  %li
    %a{href: 'https://github.com/resque/resque'} Resque
  %li
    %a{href: 'http://redis.io'} Redis
  %li
    Command line audio tools:
    %ul
      %li
        %a{href: 'http://www.ffmpeg.org/'} ffmpeg
        (for audio conversion and gathering audio file information)
      %li
        %a{href: 'http://sox.sourceforge.net/'} SoX
        (to create spectrograms and resample audio)
      %li
        %a{href: 'http://www.wavpack.com/'} WavPack
        (to expand compressed .wv files)
      %li
        %a{href: 'http://mp3splt.sourceforge.net/mp3splt_page/home.php'} mp3split
        (for quickly segmenting large .mp3 files)

%h2
  Platforms and services

%ul
  %li
    %a{href: 'https://github.com'} Github
  %li
    %a{href: 'https://travis-ci.org'} TravisCI