- content_for :title, t('baw.shared.links.upload_audio.title')
- @info_bar = {title: t('baw.shared.links.home.title'),  icon: 'home'}

= raw (controller.render cms_page: '/data_upload').gsub(/<h1>.*<\/h1>/, '')
