- content_for :title, t('baw.shared.links.upload_audio.title')

= render partial: 'shared/sidebar_public'

- if File.exists? "#{Rails.root}/app/views/public/_data_upload.html.haml"
  = render partial: 'public/data_upload'
- else
  %p No instructions are available.
