%h1 Disclaimers

%p
  We make no representations about the suitability of this information for any purpose. It is provided "as is" without
  express or implied warranty.
%p
  We disclaim all warranties with regard to this information, including all implied warranties of merchantability and
  fitness. In no event shall we be liable for any special, indirect or consequential damages or any damages whatsoever
  resulting from loss of use, data or profits, whether in an action of contract, negligence or other tortious action,
  arising out of or in connection with the use or performance of this information.
%p
  This information may include technical inaccuracies or typographical errors.
%p
  We may make improvements or changes to the information and data at any time.

- content_for :title, 'Disclaimers'