- content_for :title, 'Ethics Statement'
- @info_bar = {title: t('baw.shared.links.home.title'),  icon: 'home'}
- menu_default_link('ethics_statement')


= raw (controller.render cms_page: '/ethics').gsub(/<h1>.*<\/h1>/, '')
