- content_for :title, 'Ethics Statement'

- if File.exists? "#{Rails.root}/app/views/public/_ethics.html.haml"
  = render partial: 'public/ethics'
- else
  %h1 Ethics Statement
  %p No ethics statement available for this project.
