- content_for :title, 'Ethics Statement'
- @info_bar = {title: t('baw.shared.links.home.title'),  icon: 'home'}
- menu_default_link('ethics_statement')

- if partial_exists?('public/ethics')
  = render partial: 'public/ethics'
- else
  %p No ethics statement available for this project.
