- content_for :title, 'Ethics Statement'

= render partial: 'shared/sidebar_public'

- if File.exists? "#{Rails.root}/app/views/public/_ethics.html.haml"
  = render partial: 'public/ethics'
- else
  %p No ethics statement available for this project.
