- if !user_signed_in?
  .alert.fade.in.alert-info
    %button.close{ 'data-dismiss' => 'alert'} &times;
    Please
    = link_to('Login', new_user_session_path)
    or
    = link_to('Sign up', new_user_registration_path)
    to gain access to more projects.
- elsif !current_user.confirmed?
  .alert.fade.in.alert-warning
    %button.close{ 'data-dismiss' => 'alert'} &times;
    Please check your email and click the confirmation link.
    = link_to 'Resend confirmation', new_user_confirmation_path

%h1 Bioacoustic Workbench

%p The Acoustic Workbench is a repository for information and audio about fauna that make human-audible sounds.
%p We gather recordings from a wide range of environments, find practical ways to annotate the sounds with information about what's going on in them, and then enable that information to be put to use by ecologists and other parties interested in conservation.

%h2 Projects
- @projects.each_slice(2) do |projects|
  %ul.thumbnails
    .row-fluid
      - projects.each do |project|
        = render partial: 'projects/project_thumb_large', locals: {project: project}
- if @projects.blank?
  You do not have access to any projects.